<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <baseUrl>http://mixxx.org/manual/latest/</baseUrl>
    <documentationType>Mixxx</documentationType>
    <domainSpecific>true</domainSpecific>
    <enableStemming>true</enableStemming>
    <featureBlacklistPath></featureBlacklistPath>
    <hostName>/manual/latest</hostName>
    <preprocessingName>Html</preprocessingName>
    <sentenceBlacklistPath></sentenceBlacklistPath>
    <threadNum>4</threadNum>
</Settings>
